@charset "UTF-8";

h1{background-color:black;
        color:white;
        text-align: center;}

div.item{width: 200px;
         margin:10px;
         text-align: center;
         border:ridge;
         border-radius:5px;
         height: 200px;}

img{width:200px;
    height: 100px;;}

div.box{display:flex;
        width:600px;
        flex-wrap:wrap;
        height: 200px;}