@charset "UTF-8";

body{background-color: rgb(212, 225, 241);}

header{background-color: rgb(34, 34, 124);
       color:white}

a{color:white}

div.box{background-color: #ffffff;
      border:solid;
      margin-bottom: 20px;
      border-radius: 5px;
      padding: 20px;}

img{text-align: center;}

div.link{font-size:medium;}

h1{padding: 30px;}