@charset "UTF-8";

header{background-color:black;
        color:white;
        font-size:smaller;
        text-align: center;}
main{width: 600px;
     text-align: center;
     background-color: white;
     margin: 80px ;
     padding: 20px;}
h2{text-align: left;
    margin: 20px;}
p{text-align: left;
    font-size: small;
    margin: 20px;
    color: rgb(70, 69, 69);}
footer{background-color: whitesmoke;
        color:gray;
        font-size:smaller;
        text-align: center;}
body{background-color: rgb(237, 235, 235);}
main a{text-align: left;}